.radioTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
  margin-top: 24px;
  margin-bottom: 24px;
}

.customRadio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.customRadioContainer {
  border: 1px solid var(--gray-light);
  border-radius: 12px;
  padding: 16px 18px;
  width: 112px;
  height: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.radioContainers {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 8px;
}

.radioIcon {
  width: 32px;
  height: 32px;
  color: var(--main);
}

.radioText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main);
  text-align: center;
}

.radioText::first-letter {
  text-transform: uppercase;
}

.radioInput {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.customRadioWrapper {
  position: relative;
  display: inline-block;
}

.customRadioContainer:hover {
  border-color: var(--button-hover);
}

.radioInput:checked + .customRadioContainer {
  border-color: var(--button-hover);
}
