.labelLocation {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.locationContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputLocation {
  border-radius: 12px;
  padding: 18px 18px 18px 46px;
  width: 360px;
  height: 56px;
  background: var(--inputs);
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--main);
}

.inputLocation::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
}

.icon {
  position: absolute;
  top: 59.5px;
  left: 18px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
  color: var(--gray);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.locationContainer:focus-within .icon {
  color: var(--main);
}
